{% extends "base.html" %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="password-container">
    
    <div class="password-card">
        <h2>🔐 Change Password</h2>

        <form id="changePasswordForm">
            
            <div class="input-group">
                <label>Old Password</label>
                <input type="password" id="oldPassword" required>
            </div>

            <div class="input-group">
                <label>New Password</label>
                <input type="password" id="newPassword" required>
            </div>

            <div class="input-group">
                <label>Confirm New Password</label>
                <input type="password" id="confirmPassword" required>
            </div>

            <button type="submit">Update Password</button>

            <p id="message-pass"></p>

        </form>
    </div>

</div>

<style>

/* Center container */

</style>

<!-- JS -->
<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/change_password.js' %}"></script>
<script>
    loadNavbar()
</script>

{% endblock %}