{% extends "base.html" %}
{% load static %}
{% block title %}Messages{% endblock %}
{% block content %}

<div class="message-container">
    <!-- Sidebar -->
    <div class="sidechatbar" id="sidechats">
        <h3>Chats</h3>
    </div>
    
    <!-- Chat Area -->
    <div class="chat">
        <div class="chat-person-container" id="chat-person-container">
            <span id="chat-select-msg">Please choose chat to start convo..</span>
            <span id="chat-person"></span>
        </div>
        <div id="messages" class="messages"></div>

        <div class="input-area" id="chat-input-container">
            <input id="messageInput" placeholder="Type message...">
            <button id="msg-btn" onclick="sendMessage()">Send</button>
        </div>
    </div>

</div>
<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/chat.js' %}"></script>
<script src="{% static 'js/feed.js' %}"></script>
<script>
    loadNavbar()
</script>
{% endblock %}